<configuration debug="true" scan="true" scanPeriod="5 seconds">

    <property name="APP_HOME" value="./oms/logs"/>
    <property name="APP_NAME" value="oms"/>

    <include resource="logback-common.xml"/>

    <logger name="oms" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>